
*{
    text-decoration: none !important;
}
#sidebar-wrapper{
    background-color: #FAFFC1
    ;
}

.list-link{
 color: black !important;
}


.blorder-star{
    border-left: 6px solid #00C1FE !important;
}
.small-box {

    border-radius: 8px;
    background-color: #F0F9FF ;
}

.small-boxa {

    border-radius: 8px;
    background-color: #FEF6FB;
}

.small-boxb {

    border-radius: 8px;
    background-color: #FEFBEC ;
}

.small-boxc {
    
    border-radius: 8px;
    background: linear-gradient(to  bottom right,#00C1FE, #FAFFC1);
    background-color: #FEFBEC;
    
}